/* Main Content */
main {
    flex: 1 0 auto;
    margin: 0 1rem 1rem 1rem;
    padding: 0 1rem 1rem 1rem;
}

/* Home button */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

/* Question and Answer boxes. */
#question {
    border: 5px solid #d3a625;
    background-color: #0e1a40;
    color: #bebebe;
    cursor: pointer;
    border-radius: 15px;
    font-family: cursive;
    text-align: center;
    width: 85%;
    font-size: 180%;
    padding: 1rem;
}

#quiz {
    margin: 2rem;
    padding: 2rem;
}

.answer {
    border: 5px solid #d3a625;
    background-color: #0e1a40;
    color: #bebebe;
    cursor: pointer;
    border-radius: 15px;
    font-family: cursive;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    font-size: 140%;
    transition: all 0.3s;
}

.answer:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0;
    transition: transform 150ms;
    transform: scale(1.03);
    background-color: #740001;
    color: #d3a625;
}

/* Next button */

.next-btn {
    border: 5px solid #d3a625;
    background-color: #0e1a40;
    color: #d3a625;
    padding: 1rem;
    margin: 5rem;
    font-size: 180%;
    cursor: pointer;
    border-radius: 15px;
    font-family: cursive;
    text-align: center;
    display: none;
}

.next-btn:hover {
    background-color: #740001;
    color: #d3a625;
}