/* Main Content */
main {
    flex: 1 0 auto;
    margin: 0 1rem 1rem 1rem;
    padding: 0 1rem 1rem 1rem;
}

/* Home button */
.container {
    display: flex;
    justify-content: center;
}

/* Question and Answer boxes. */
#question {
    border: 5px solid #d3a625;
    background-color: #0e1a40;
    color: #bebebe;
    border-radius: 15px;
    font-size: 180%;
    padding: 1rem;
    margin: 2rem;
    min-width: 20rem;
    text-align: center;
}

.choice-container {
    margin: 2rem;
    border: 5px solid #d3a625;
    background-color: #0e1a40;
    color: #bebebe;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    font-size: 140%;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0;
    transition: transform 150ms;
    transform: scale(1.25);
    background-color: #ecb939;
    color: #372e29;
    border: 5px solid #372e29;
}

.choice {
    padding: 1rem;
}

.choice-text {
    padding: 1rem;
    width: 100%;
}

/* Correct and Incorrect stylings */
.correct {
    background: linear-gradient(32deg, #1a472a #2a623d) 100%;
}

.incorrect {
    background: linear-gradient(32deg, #740001 #ae0001) 100%;
}

/* Question and Score */
#display {
    display: flex;
    justify-content: space-between;
    color: #740001;
    margin: 0rem 2rem;
}

.display-item {
    text-align: center;
    font-size: 1rem;
}

.main-text {
    text-align: center;
    text-shadow: none;
    font-size: 2rem;
    color: #740001;
}

#progressBar {
    width: 10rem;
    height: 2rem;
    border: 5px solid #740001;
    margin-top: 1rem;
    border-radius: 15px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #740001;
    width: 0%;
}

/* Next button */

.next-btn {
    border: 5px solid #d3a625;
    background-color: #0e1a40;
    color: #d3a625;
    padding: 1rem;
    margin: 5rem;
    font-size: 180%;
    cursor: pointer;
    border-radius: 15px;
    font-family: cursive;
    text-align: center;
    display: none;
}

.next-btn:hover {
    background-color: #740001;
    color: #d3a625;
}

/* Media Query for tablets and above (768px and above) */
@media screen and (min-width: 768px) {
    #question {
        min-width: 40rem;
    }

    .display-item {
        font-size: 2rem;
    }

    .main-text {
        font-size: 3rem;
    }

    #progressBar {
        width: 15rem;
        height: 3rem;
        border: 8px solid #740001;
        border-radius: 25px;
    }

    .choice-container {
        min-width: 55rem;
    }
}