/*Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    color: #362b24;
    font-family: Pacifico, sans-serif;
}

h1 {
    color: aqua;
    font-family: Pacifico, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

/* Header */


/* Main Content */

/* Footer */