/*Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #362b24;
    font-family: Pacifico, sans-serif;
}

html {
    background: url("../images/Mauraders-map.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: #740001;
    font-family: Pacifico, sans-serif;
    font-size: 180%;
    text-align: center;
    text-shadow: 2px 2px 2px #d3a625;
    letter-spacing: 0.25rem;
    margin: 0 1rem 1rem 1rem;
}

h2 {
    color: #222f5b;
    font-size: 18px;
    text-align: center;
    text-shadow: 2px 2px 2px #946b2d;
    letter-spacing: 0.25rem;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    padding: 1rem;
}

header a {
    text-decoration: none;
}

/* Main Content */
main {
    flex: 1 0 auto;
    margin: 0 1rem 1rem 1rem;
    padding: 0 1rem 1rem 1rem;
}

/* Audio button */
.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
    margin: 0 1rem 1rem 1rem;
}

/* Play and Rules buttons */
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.btn {
    border: 5px solid #f0c75e;
    background-color: #2a623d;
    color: black;
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

/* Footer */
footer {
    padding: 1rem;
    text-align: center;
}

/* Media Query for tablets and above (768px and above) */
@media screen and (min-width: 768px) {

    h1 {
        font-size: 400%;
        text-shadow: 5px 5px 5px #d3a625;
        letter-spacing: 0.5rem;
    }

    h2 {
        font-size: 36px;
        text-shadow: 4px 4px 4px #946b2d;
        letter-spacing: 0.5rem;
    }
}